<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357185833921-hn8dt4erj8e5etaroun73u50adqvi2e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357185833921-hn8dt4erj8e5etaroun73u50adqvi2e6</string>
	<key>API_KEY</key>
	<string>AIzaSyAMSfvvbb-2vLmUuc7qpQcmo6kEjo3Ydg8</string>
	<key>GCM_SENDER_ID</key>
	<string>357185833921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boilerplate</string>
	<key>PROJECT_ID</key>
	<string>asilia-tech</string>
	<key>STORAGE_BUCKET</key>
	<string>asilia-tech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357185833921:ios:bf4533746727c6e0273d40</string>
</dict>
</plist>